*{
  margin: 0px;
  padding: 0px;
}
body, html{
  height: 100%;
}
nav{
  position: absolute;
  text-align: center;
  line-height: 100px;
  width: 100%;
  height: 100px;
  z-index: 2;
}
nav a{
  font-family: 'Pacifico', cursive;
  color: white;
  margin-left: 20px;
  text-decoration: none;
  padding: 8px 8px;
}
nav a:hover{
  background-color: black;
}
.part{
  height: 100%;
  background-color: pink;
  background-size: cover;
  background-attachment: fixed;
}
.ara{
  height: 50%;
  background-color: blue;
}
#part1{
  background-image: url("img/ilk.png");
}
#part2{
  background-image: url("img/son.png");
}
#part3{
  background-image: url("img/enson.png");
}
.anasayfa{
  position: absolute;
  float: left;
}
.baslik{
  height: 100%;
  width: 100%;
  z-index: 1;
  margin-top: 270px;
  text-align: center;
}
.baslik h1{
  font-family: 'Pacifico', cursive;
  font-size: 95px;
  color: white;
}
.baslik p{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: white;
}

.filter{
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.20;
}
